.highlight {
  background-color: yellow;
}

.bold {
  font-weight: bold;
}

.lyrics-box {
  text-align: left;
  margin: auto;
}

.lyrics-box > div:nth-of-type(odd) {
    background-color: #F8F8F8;
}

.lyrics-box > div:nth-of-type(even) {
    background-color: #F0F0F0;
}

.lyrics-row {
  padding-top: 0.2rem!important;
  padding-bottom: 0.2rem!important;
}

/* .album-container {
  width: 80%;
  margin: auto!important;
  margin-bottom: 10px!important;
}
*/

.album-art {
  max-width: 200px;
  max-height: 200px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
