/*  START MESSAGE Styling */
.message-list{
  position: absolute;
  z-index: 2000;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.ui.message.fade {
  width: 500px;
  left: 50%;
  transform: translateX(-50%);
  animation: fade 3s;
}

@keyframes fade {
  0%, 100% { opacity: 0 }
  10%, 90% { opacity: 1 }
}
/* END MESSAGE Styling*/

/*  START Song Details styling  */

.highlight {
  background-color: #f6e4aa;
}

.line {
  background-color: #e8b923;
}

.lyrics-box {
  text-align: left;
  margin: auto;
}

.lyrics-box > div:nth-of-type(odd) {
    background-color: #F8F8F8;
}

.lyrics-box > div:nth-of-type(even) {
    background-color: #F0F0F0;
}

.lyrics-row {
  padding-top: 0.2rem!important;
  padding-bottom: 0.2rem!important;
}

/*  END Song Details styling  */

/*  START Albums Page styling  */

.album-art {
  max-width: 200px;
  max-height: 200px;
}

/*  END Albums Page styling  */

/*  START Flash Card Page styling  */

.flash-card-container {
    width: 95%;
    margin: auto!important;
}

div.new-flash-card-editor {
  height: 250px;
  font-family: Lato, 'Helvetica Neue', Arial,Helvetica, sans-serif;
  font-size: 1em;
}

/*  END Flash Card Page styling  */

/*  START Flash Card styling  */
.ui.flash-card-modal > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 1.15em;
  width: 100%;
}

.ui.flash-card-modal {
  max-width: 100%;
  text-align: center!important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 290px;
  min-height: 175px;
  background: #FFFFFF;
  padding: 0em;
  border: solid;
  border-top-width: 0em;
  border-bottom-width: 0em;
  border-right-width: 0em;
  border-left-width: 0em;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
  box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
  -webkit-transition: -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  z-index: '';
}

.ui.cards > .flash-card, .ui.flash-card > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 1.15em;
  width: 100%;
}

.ui.cards > .flash-card, .ui.flash-card {
  max-width: 100%;
  position: relative;
  text-align: center!important;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 290px;
  min-height: 175px;
  background: #FFFFFF;
  padding: 0em;
  border: solid;
  border-top-width: 0em;
  border-bottom-width: 0em;
  border-right-width: 0em;
  border-left-width: 0em;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
  box-shadow: 0px 1px 3px 0px #D4D4D5, 0px 0px 0px 1px #D4D4D5;
  -webkit-transition: -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease;
  transition: box-shadow 0.1s ease, transform 0.1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform 0.1s ease;
  z-index: '';
}

.ui.cards > div {
  margin: 1em 1em!important;
}

.ui.flash-card {
  margin: 1em 0em!important;
}

.ui.flash-cards > .flash-card a, .ui.flash-card a {
  cursor: pointer;
}

.ui.flash-card:first-child {
  margin-top: 0em!important;
}

.ui.flash-card:last-child {
  margin-bottom: 0em!important;
}

/*  END Flash Card styling  */

/*  START Segment styling  */

div.ui.segments:not(.horizontal) > .segment:first-child {
  /* border-top: 1px solid rgba(34, 36, 38, 0.15); */
  border-radius: 0em 0em;
}

div.ui.segment.profile {
  background-color: #ededed!important;
  height: 100%;
  border-radius: 0.28571429rem 0em 0em 0em;
}

div.ui.segment.filter {
  border-radius: 0em 0.28571429rem 0em 0em;
  height: 100%;
  background-color: #f8f8f9
}

div.ui.segment.filter {
  text-align: left;
}

i.grey.edit.icon {
  margin: 0.25em;
}

/*  END Segment styling  */

/*  START Miscellaneous styling  */

.center {
  margin: auto;
}

.bold {
  font-weight: bold;
}

span.link {
     cursor:pointer;
     color: #0E6EB8;
}

div.ui.animated.button{
  vertical-align: bottom;
  margin-right: 0.75em
}

/*  END Miscellaneous styling  */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
